// Global variables

// Font families
$family-font: 'Montserrat', sans-serif;

/********************/

// Color variables

// Basic
$basic-white: #fff;
$basic-black: #000;

// Pilk
$custom-light-grey: #D3D3D3;
$custom-grey: #C8C8C8;
$custom-darkner-grey: #B8B8B8;
